html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  z-index: 1;

}

.wrap-main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;   
  top: 13%;
}

.audio-upload::file-selector-button {
  visibility: hidden;
}
.audio-upload {
  border: 2px solid #ccc;
  border-radius: 5px 10px;
  font-size: 24px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  padding: 2px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}
.audio-upload:hover {
  background-color: #808080;
}

@media only screen and (max-width: 927px) {
  .wrap-main {
    right:5%;
  }
}
@media only screen and (max-width: 540px) {
  .wrap-main {
    right:0%;
  }
  .audio-upload {
    font-size: 18px;
  }
}